<p>ATV v<span id="version"></span></p>
<div data-atv-report="true" data-my-atv-report="true" data-report="true">
  <%= render partial: "simple" %>
  <%= render partial: "classic" %>
  <%= render partial: "namespace" %> 
  <%= render partial: "config" %>
  <%= render partial: "nesting" %>
  <%= render partial: "multiple" %>
  <%= render partial: "multi_target" %>
  <%= render partial: "inter_controller" %>
  <%= render partial: "events" %>
  <%= render partial: "parameters" %>
  <%= render partial: "sequence" %>
  <%= render partial: "connecting" %>
  <%= render partial: "disconnecting" %>
</div>

<script type="module">
import { version } from "@sbrew.com/atv"
document.getElementById("version").innerText = version;
</script>